.tree-node {
    display: block;
    margin: 10px 0 10px 0;
    padding: 5px 0 5px 20px;
    border: 1px solid #f1f1f1;

    ul, li {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .buttons {
        float: right;
    }

    .btn-group {
        margin-right: 10px;
    }

    .toggler {
        display: inline-block;
        margin: 0 0 0 -16px;
        width: 16px;
        height: 16px;
    }

    .title {
        display: inline-block;
        margin: 0 10px 0 10px;
    }

    .content {
        margin: 0 0 0 10px;
    }

    .translate {
        padding: 3px 0 3px 0;
    }

    .translate .editable {
        margin: 0 0 0 10px;
    }

    .content.closed {
        overflow: hidden;
        height: 0;
    }

    .lang {
        margin-right: 10px;
    }

    .text {
        display: inline-block;
    }
}
